body {
    margin: 0;
    padding: 0;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    min-height: 100vh;
}

.container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.face.face1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-color: #333;
    transform: translateY(100px);
}

.card:hover .face1 {
    transform: translateY(0px);
    background-color: #ff0059;
}

.face2 {
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    transform: translateY(-100px);
    box-shadow: 0 15px 18px rgba(0,0,0,0.8);
}

.card:hover .face2 {
    transform: translateY(0);
}

.content p {
    padding: 5px;
}

.content a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #333;
    font-weight: 900;
    padding: 5px;
    margin: 15px 0 0; 
    color: #333;
}

.content a:hover {
    background-color: #333;
    color: #fff;
}

.content {
    opacity: 0.2;
}

.card:hover .content {
    opacity: 1;
}

.content img {
    max-width: 100px;
}

.content h3 {
    color: #fff;
    text-align: center;
}