html, body {
    height: 100%;
}

body {
    background-color: #031321;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    transition: 0.2s;
    color: #2196f3;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 14px 20px;
    overflow: hidden;
}

a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
} 

a span {
    position: absolute;
    display: inline-block;
}

a span:nth-child(2) {
    top: 0%;
    height: 1px;
    left: -100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
    left: 100%;
    transition: 0.5s;
}

a span:nth-child(4) {
    bottom: 0%;
    height: 1px;
    right: -100%;
    width: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
    right: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}

a span:nth-child(3) {
    top: -100%;
    width: 2px;
    right: 0;
    height: 100%;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}

a span:nth-child(1) {
    bottom: -100%;
    width: 2px;
    left: 0;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.75s;
}